<div class="home-navbar">
  <div style="width: 50px;"></div>
  <div class="tabs">
    <%= link_to 'Cocktails', cocktails_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Contact', contact_path %>
  </div>
  <%= image_tag 'lewagon-logo-black.png' %>
</div>

<div class="home-banner">
  <div class="text-container">
    <h1>Cocktail your live</h1>
    <p>Your cocktail library</p>
    <%= link_to 'Add new cocktail', new_cocktail_path %>
  </div>
</div>
